$input-height: 30px;

@mixin clearfix {
  overflow: auto;
}

.title {
  margin: 0 0 0 1%;
}

.container-fluid {
  margin-top: 20px;
}

.page {
  padding: 20px;
  @include clearfix;
  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
    display: block;
  }

  .btn {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    vertical-align: top;
    font-weight: 300;
    font-size: 1.5em;
    padding: 0 10px;
    border-radius: 5px;
    height: $input-height;
    line-height: $input-height;
  }

  .tags-input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    text-indent: 5px;
    height: $input-height;
    line-height: $input-height;
    width: 300px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.55);

  }



}
