<div class="photos-page" ng-controller="OwnerCtrl as ctrl">
    <p>{{ctrl.displayText}}</p>
    <p>Owner</p>

    <form ng-submit="ctrl.search()">
        <input class="tags-input" ng-model="ctrl.tags"/>
        <input class="search-submit" type="submit" value="go"/>
    </form>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option1">
            Search by Photos
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option2" checked>
            Search by Owner ID
        </label>
    </div>
    <ul class="photos">
        <li class="link" ng-repeat="photo in ctrl.photos">
            <p class="photos-title">{{ photo.title || "(EMPTY)" }}</p>
            <img ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_{{ctrl.size}}.jpg"/>
            <a class="id-owner" ng-href="/owner/{{photo.owner}}">{{photo.owner}}</a>
        </li>
    </ul>
</div>
